<?xml encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="D:\home\site\wwwroot\" />
        <add key="WSGI_HANDLER" value="presentation.page.wsgiHandler()" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="PythonHandler"
            verb="*"
            modules="FastCgiModule"
            scriptProcessor="D:\Python27\Python.exe|D:\Python27\Scripts\wfastcgi.py"
            resourceType="Either" />
        </handlers>
    </system.webServer>
</configuration>